# editor/IDE folders
.vs/
.vscode/

# special
!especial.exe

# executable files and database files(from compiler)
*.exe
*.pdb
*.ipch
*.db

# data files
*.txt
*.in
*.out

# env files
*.json
*.sqlite
*.suo

# other (tests, makefile)
test.cpp
Makefile
CMakeLists.txt
rtsq.md
