# editor/IDE folders
.vs/
.vscode/

# special
!especial.exe

# executable files and database files(from compiler)
*.exe
*.pdb
*.ipch
*.db

# data files
*.txt
*.in
*.out

# env files
*.json
*.sqlite
.atom-beautify.test.cpp
*.suo

# other (tests, makefile)
testc.cpp
test2.cpp
test.cpp
test.tex

# Makefile
# CMakeLists.txt
rtsq.md
