# editor/IDE folders
.vs/
.vscode/
luoguorg.sublime-workspace

# executable files and database files(from compiler)
*.exe
temp
*.pdb
*.ipch
*.db

# data files
*.txt
*.in
*.out
*.ans
*.cpp\:test

# env files
*.json
*.sqlite
.atom-beautify.test.cpp
*.suo
vgcore.*

# other (tests)
testc.cpp
test2.cpp
test.cpp
test.tex

